/* GENERAL */
.bold {
    font-weight: 800;
    color: #2c3e52;
}

.greyed_out {
    color: #c0c0c0;
}

.underline, .underline:focus {
    color: #2d3e52;
    text-decoration: underline;
}

.underline:hover {
    color: #2d3e52;
    text-decoration: none;
}

.awesome {
    font-family: 'FontAwesome';
}

.pointer {
    cursor: pointer;
}

.error-message {
    color: #e55137;
    font-size: 14px;
}

.center-div {
    max-width: 750px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    padding: 65px 70px 50px;
    -webkit-box-shadow: 0px 2px 4px 0px #cacfd3;
    -moz-box-shadow: 0px 2px 4px 0px #cacfd3;
    box-shadow: 0px 2px 4px 0px #cacfd3;
}

.center-div2 {
    max-width: 560px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.search-waiting-page .center-div {
    width:50%;
    margin: 0px auto;
    background-color: transparent;
    padding: 112px 50px;
    -webkit-box-shadow: 0px 0px 0px 0px #cacfd3;
    -moz-box-shadow: 0px 0px 0px 0px #cacfd3;
    box-shadow: 0px 0px 0px 0px #cacfd3;
    padding-bottom: 0px !important;
}

.search-waiting-page .center-div2 {
    margin: 0;
}

.searchform-div {
    text-align: left;
}

/* BANNERS */

#desktop-warning {
    margin-bottom: 0px;
    padding-left: 50px;
    background-color: #f1c500;
    border-color: #f1c500;
    color: black;
}

/* SEARCH FORM */
.library {
    font-size: 18px;
    margin: 0px;
    display: block;
}

.radio-inline input[type=radio] {
    position: relative;
    margin-top: 0px;
    vertical-align: baseline;
}

.radio-inline input[type=radio] {
    position: relative;
    margin-top: 0px;
    vertical-align: baseline;
}

.radio-inline {
    font-weight: 100;
    vertical-align: top;
    display: block;
    padding:5px 0 0px 20px; 
}

.radio-inline + .radio-inline {
    margin-top: 0;
    margin-left: 0px;
}

.try-out-maps {
    max-width: 560px;
    width: 100%;
    margin: 20px auto;
    font-size: 18px;
}

.try-out-maps a {
    margin-left: 10px;
}

.map-examples {
    display: inline-block;
}

/* WAITING PAGE */
.nodisplay {
    display: none !important;
}

#progress p {
    font-size:18px;
}

.search_active_state p {
    text-align: center;
}

#progressbar {
    height: 10px;
    max-width: 400px;
    margin: 10px auto;
}

#progressbar .ui-widget-header {
    background: #e55137;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
}

#error-remedy_list li {
    list-style: disc;
}

#error-remedy_list {
    margin-left: 20px;
}

.waiting-title {
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: none;
    font-weight: 800;
}

.waiting-title2 {
    font-weight: 300;
    font-size: 24px;
    text-transform: none;
    color: black;
}

.waiting-title2 strong {
    font-weight: 800;
}

.basic-button {
    /*text-transform: uppercase;*/
    text-align: center; 
    max-width: 300px;
    width:100%;
    display: inline-block; 
    border: 2px solid #2d3e52;
    background-color: #2d3e52;
    color: white;
    padding: 10px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none !important;
}

.basic-button:hover, .basic-button:active, .basic-button:focus {
    color:#2d3e52;
    background-color: transparent;
}

.searchpage .h2reverse {
    text-align: center !important;
}

.searchpage .infohow {
    background-color: white;
}

/* VIS PAGE */

.cite-map a {
    text-decoration: underline;
}

.cite-map a:hover {
    text-decoration: none;
}

.citation {
    display: inline-block;
    padding: 5px;
    background-color: rgba(239,243,244,1);
    hyphens: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

body:not(.modal-open){
    padding-right: 0px !important;
}

.modal-open {
    overflow: hidden;
    padding-right: 0 !important;
}

/*How it works sections CSS will be added here*/
p {
    text-align: left;
}

#divhow {
    /*background-color: white;*/
    padding: 100px 0px 100px 0px;
}

.h2reverse {
    background-color: transparent;
    color: #2d3e52;
    font-weight: 800;
    padding: 0px 0px 20px;
}

.howitworks-div {
    max-width:100%; 
    text-align:center; 
    margin-top:5%;
}

.howitworks-point {
    width:22%; 
    display: inline-block; 
    padding: 0px 2% 2%; 
    vertical-align:top; 
    text-align:left;
}

.howitworks-point p {
    font-size: 18px;
}    

.number {
    font-size:40px; 
    color: #2c3e52;
    font-weight: 800;
    /*vertical-align: bottom;*/
    padding-right: 10px;
}

.howimg {
    width: auto;
    max-height: 60px; 
    vertical-align: baseline;
}

.infohow {
    border-top: 0px solid #cacfd3; 
}

@media screen and (max-width: 1230px) {

    .center-div, .center-div2 {
        width: 70%;
    }
}

@media screen and (max-width: 1030px) {

    .center-div {
        margin: 50px auto 0;
    }
}

@media screen and (max-width: 960px) {
    #divhow {
        padding: 50px 0px 50px 30px;
    }
}

@media screen and (max-width: 865px) {
    .center-div, .center-div2 {
        width:80%;
    }

    /*how it works section*/
    .howimg {
        width: auto;
        max-height: 40px; 
    }

    .number {
        font-size:30px; 
    }
}

@media screen and (max-width: 700px) {

    .radio-inline + .radio-inline {
        display: block;
        margin-left: 0px;
    }

    .radio-inline {
        display: block;
        margin-left: 0px;
        font-size: 16px;
        line-height: 200%;
    }
}


@media screen and (max-width: 640px) {

    #desktop-warning {
        padding-left: 20px;
    }

    .center-div {
        -webkit-box-shadow: 0px 0px 0px 0px #cacfd3;
        -moz-box-shadow: 0px 0px 0px 0px #cacfd3;
        box-shadow: 0px 0px 0px 0px #cacfd3;
        margin: 0px auto;
        padding: 50px 0px 0px;
    }

    #divhow {
        padding-left: 0px;
    }

    .center-div2 {
        padding: 20px 30px;
    }

    .library {
        font-size: 14px;
    }

}

@media screen and (max-width: 535px) {

    .center-div {
        padding: 20px;
        width:90%;
        margin: 20px 0px 0px 0px;
    }

    .basic-button {
        font-size: 14px;
        width: 80%;
    }
}

@media screen and (max-width: 470px) {

    .library {
        margin: 10px 0px 10px 0px;
    }

    .radio-inline {
        font-size: 14px;
    }

    .text-field {
        display: block;
    }

    .try-out-maps {
        font-size: 14px;
    }

    .howitworks-point p {
        font-size: 14px;
    }
}

@media screen and (max-width: 360px) {
    .center-div {
        padding: 20px;
        width: 100%;
    }

    .center-div2 {
        padding: 10px 20px;
    }
}

